<div class = "containair" style = "margin-top: 5;">
    <div *ngIf ="!registerMode" style = "text-align: center;">
        <h1>Find Your Match</h1>
        <p class=" lead "> Come on in to view your matches...All you need to do is Sign Up!</p>
    
            <div class = "text-center">
                <button (click) = "registerToggle()" class="btn btn-default btn-group-lg" style = "margin:5;"> Register </button>
                <button class ="btn btn-default btn-group-lg" style = "margin:5;"> Lean More </button>
            </div>
    </div>

    <div *ngIf ="registerMode" class = "containair">
        <div class="row justify-content" style ="text-align:center;">
            <div class = "col-lg-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>

</div>
<!--[usersFromHomeComponent]="users" cio che facciamo quando riceviamo dati dal componente parent usiamo parentesi quadre[]-->
<!--(cancelRegister)="cancelRegisterMode($event)" cio che facciamo quando mandiamo dei dati dal figlio al padr usiamo le parentesi tonde()-->